trigger: none
 
pool: infrapool

variables:
 - name: Work_Dir
   value: '$(System.DefaultWorkingDirectory)/parent_modules'
 -  name: Service_connection
    value: infraconnection
stages:
  - stage: CodeSecurityScanning
    jobs:
      - job: tfsec
        displayName: TfsecScanningProgress
        steps:
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)'

        - task: PowerShell@2
          displayName: checkovScanning
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: 'checkov -d "$(System.DefaultWorkingDirectory)" -o junitxml > checkov-scan.xml'

        - task: PublishTestResults@2
          displayName: CheckOVResultInPRogress
          inputs:
            testResultsFormat: 'JUnit'
            testResultsFiles: 'checkov-scan.xml'
            testRunTitle: checkovscan

        - task: PowerShell@2
          displayName:  TerrascaninProgress
          inputs:
            targetType: 'inline'
            script: 'terrascan scan -d "$(System.DefaultWorkingDirectory)" -o junit-xml > terrscanresult.xml'

        

        
        
  
  - stage: TereraformInitValidatePlan
    displayName: 1st stage inprogress
    jobs:
      - job: terraformInit
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(Work_Dir)
            backendServiceArm: 'infraconnection'
            backendAzureRmStorageAccountName: 'meranoonestorage'
            backendAzureRmContainerName: 'statecontaienr'
            backendAzureRmKey: 'my.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: $(Work_Dir)
            environmentServiceNameAzureRM: 'infraconnection'

        